// Font
$main_font: 'Montserrat', sans-serif;

// Colors
$teal: #4CB8B3;
$pink: #F53756;
$yellow: #FEF46D;
$purple: #752F97;
$black: #000;
$white: #FFF;

// Media Queries Sizes
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;